# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Auto Paste'
      'command': 'copy-paste:paste'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Copy Paste'
      'submenu': [
        {
          'label': 'Auto Paste'
          'command': 'copy-paste:paste'
        }
        {
          'label': 'Stop'
          'command': 'copy-paste:stop'
        }
      ]
    ]
  }
]
